{
  "auth": {
    "username": "username",
    "password": "password"
  },
  "mail": {
    "host": "host",
    "username": "username",
    "password": "password"
  },
  "discord": {
    "inbox-webhook": "webhook"
  }
}
