{
  "auth": {
    "username": "username",
    "password": "password"
  },
  "mail": {
    "host": "host",
    "username": "username",
    "password": "password"
  },
  "discord": {
    "inbox-webhook": "webhook"
  },
  "mailjet": {
    "public_key": "key",
    "private_key": "key",
    "version": "v3.1"
  }
}
